---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import LandingSection from "../components/LandingSection.astro";
---

<!-- <div id="landing" class="landing-overlay z-50">
  <LandingLogo />
</div> -->
<BaseLayout>
  <div
    class="fixed inset-0 -z-10 pointer-events-none overflow-hidden"
    style="background-image: url('/images/blue-lines.png'); background-size: cover; background-position: center;"
  >
  </div>
  <div
    class="absolute inset-0 h-[400vh] -z-10 pointer-events-none overflow-hidden"
  >
    <svg
      class="absolute -top-60 left-[25%] w-[600px] h-[600px] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
    <svg
      class="absolute top-[10%] left-[10%] w-[200px] h-[200px] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
    <svg
      class="absolute top-32 -right-[20%] w-[40vw] h-[40vw] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
    <svg
      class="absolute top-1/3 right-[100%] w-[300px] h-[300px] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
    <svg
      class="absolute top-[42%] right-[40%] w-[35vw] h-[35vw] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
    <svg
      class="absolute top-[68%] right-[10%] w-[500px] h-[500px] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
    <svg
      class="absolute bottom-24 right-16 w-[300px] h-[300px] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
    <svg
      class="absolute top-1/3 left-[80%] w-[50vw] h-[50vw] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
    <svg
      class="absolute -bottom-[20%] left-16 w-[50vw] h-[50vw] fill-white"
      viewBox="0 0 100 100"
    >
      <circle cx="50" cy="50" r="50"></circle>
    </svg>
  </div>

  <LandingSection
    headline="BBA is an inter-urban studio."
    scrollTarget="projects"
  />

  <!-- Projects -->
  <LandingSection
    text="We understand the unique demands of building towns and steer our clients through every step of the planning, design and build phases."
    ctaText="Projects"
    ctaHref="/projects"
    justify="start"
    scrollTarget="insights"
    id="projects"
  />

  <!-- Insights -->
  <LandingSection
    text="We understand the unique demands of building towns and steer our clients through every step of the planning, design and build phases."
    ctaText="Insights"
    ctaHref="/insights"
    scrollTarget="contact"
    id="insights"
  />

  <!-- Contact -->
  <LandingSection
    ctaText="Get in Touch"
    ctaHref="/contact"
    text="Whether you’re a homeowner or developer, a company, public organisation or community group, we’d love to work with you."
    scrollDown={false}
    justify="start"
    id="contact"
  />
</BaseLayout>
