---
import Logo from "./Logo.astro";

const currentYear = new Date().getFullYear();
const socialLinks = [
  { name: "Instagram", url: "https://instagram.com" },
  { name: "LinkedIn", url: "https://linkedin.com" },
  { name: "Pinterest", url: "https://pinterest.com" },
];

const certificationLogos = [
  {
    src: "/logos/riba.svg",
    alt: "RIBA Chartered Practice",
    url: "https://www.architecture.com/",
  },
  {
    src: "/logos/arb.svg",
    alt: "Architects Registration Board",
    url: "https://arb.org.uk/",
  },
  {
    src: "/logos/passivhaus.svg",
    alt: "Passivhaus Trust",
    url: "https://www.passivhaustrust.org.uk/",
  },
  { src: "/logos/aecb.png", alt: "AECB Member", url: "https://aecb.net/" },
];
---

<footer class="py-6 md:p-8 bg-[#178FE4] text-white">
  <div class="flex flex-col md:flex-row justify-between items-baseline w-full">
    <div class="flex items-baseline space-x-8">
      <a href="/" class="">
        <Logo />
      </a>
      <p class="text-sm font-light">
        &copy; {currentYear} Butcher Bayley Architects
      </p>
      <a href="/privacy" class="text-sm font-light">Our Privacy Policy →</a>
    </div>
    <div class="flex space-x-4 mt-4 md:mt-0">
      <a href="mailto:hello@wearebba.com" class="text-lg font-light"
        >hello@wearebba.co.uk</a
      >
      <a
        href="https://instagram.com"
        target="_blank"
        rel="noopener noreferrer"
        class="text-lg font-light">@wearebba</a
      >
    </div>
  </div>
</footer>
