---
import SectionWrapper from "../layouts/SectionWrapper.astro";
import SafeImage from "./SafeImage.astro";
---

<SectionWrapper>
  <div
    class="flex flex-col md:flex-row text-black md:space-x-10 justify-between w-full"
  >
    <div class="max-w-xl">
      <h1
        class="text-4xl md:text-5xl lg:text-6xl font-light mb-6 opacity-0 animate-fadeInDown"
        style="animation-delay: 2s;"
      >
        We shape dreams into timeless spaces
      </h1>
      <p
        class="text-lg text-gray-700 mb-6 opacity-0 animate-fadeInUp"
        style="animation-delay: 2s;"
      >
        From forever homes to community landmarks, we turn vision into place.
        Butcher Bayley Architects creates sustainable, beautiful architecture
        with care and craft.
      </p>
      <a
        href="/projects"
        class="inline-block border-b border-black pb-1 hover:opacity-70 transition-opacity opacity-0 animate-fadeInUp"
        style="animation-delay: 2s;"
      >
        View our projects
      </a>
    </div>
    <div
      class="md:w-[800px] h-[600px] opacity-0 animate-fadeInRight"
      style="animation-delay: 2s;"
    >
      <SafeImage
        src="/images/bba-heathfield-house.jpg"
        alt="Featured architecture project"
        class="w-full h-full object-top object-fit"
      />
    </div>
  </div>
</SectionWrapper>
