---
const { class: className = "", id = "" } = Astro.props;
---

<section
  class={`w-full flex items-center justify-center p-4 md:p-8 ${className}`}
  id={id}
>
  <div class="w-full max-w-[1440px]">
    <slot />
  </div>
</section>
